p {
    font-size: 100 px;
    text-align: center
}

header {
    text-align: center;
    font-size: 500 px 
}

footer {
    background-color: black;
    color: white;
}

a {
    display: flex;
    justify-content: center;
    font-size: 100 px;
    color: black;
}
